<div class="container d-flex flex-column justify-content-center vh-100">
  <h1 class="text-center">URL Shortener</h1>
  <i class="text-center fas fa-link fa-7x mb-5"></i>
  {{#if error}}
  <div class="alert alert-danger fade show">
    {{{error}}}
    <button type="button" class="close" data-dismiss="alert">
      <span>&times;</span>
    </button>
  </div>
  {{/if}}
  <form action="/" method="POST" class="w-75 mx-auto d-flex flex-column align-items-center">
    <div class="form-group w-100">
      <label for="url" class="sr-only"></label>
      <input type="url" name="url" id="url" class="form-control" placeholder="Input URL here">
    </div>
    <button class="btn btn-outline-primary w-50">Shorten</button>
  </form>
</div>